<nb-card>
    <nb-card-header>
        <div class="colors">
            <div class="item text-success">
                <div class="color bg-status-success"></div>
                <div>
                    <h5 class="text-success">
                        {{ "app.generic.information" | translate }}
                    </h5>
                    {{ "app.pages.license.conflicts-confirm-card.confirm-changes.info" | translate :{serialNumber:selectedTestset.serialNumber} }}
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row show-grid">
            <ng-container *ngFor="let licenseWithAction of conflicts">
                <div class="col-12 col-sm-4">
                    <license-card [license]="licenseWithAction.license" [selectedTestset]="selectedTestset"
                        [action]="licenseWithAction.action" tips="">
                    </license-card>
                </div>
            </ng-container>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton fullWidth status="success" (click)="onConfirm()" outline>
            {{"app.generic.confirm" | translate}}
            <nb-icon icon="corner-down-left-outline" pack="eva" [options]="{ animation: { type: 'shake' } }"></nb-icon>
        </button>
    </nb-card-footer>
</nb-card>